html, body {
  height: 100%;
}

.mission {
  display: inline;
  font-size: 16pt;
}

body {
  padding-top: 59px;
  /* quite hacky to say the least */
}

.logo {
  height: 30px;
}

.carousel, .carousel-inner, .carousel-inner.item {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
}

.item-col {
  padding: 0px;
}

.fade, .item-col {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover, .item-col:hover {
  opacity: 0.5;
}

.carousel-item img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
